* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
}

button {
  padding: 0.5rem;
  margin: 0.25rem 0rem;
}

.left-col, .mid-col, .right-col {
  height: 100vh;
}

.left-col {
  width: 15%;
  border-right: 2px solid black;
  padding: 1rem;
  overflow-y: scroll;
}

.middle-col {
  width: 60%;
  border-right: 2px solid black;
}

.right-col {
  width: 25%;
  padding: 1rem;
  overflow-y: scroll;
}

#c {
  width: 100%;
  height: 100vh;
  display: block;
  background: rgba(0, 0, 0, 0.2);
}

.left-col-rows {
  display: flex;
  flex-direction: column;
}